.footer {
    margin: 6rem 0 3rem;
    align-items: center;
}
.line {
    height: 1px;
    background-color: #f4f4f4;
    margin: 0 6rem;
}

.title1 {
    font-size: 10px;
    font-weight: 600;
    color: #111111;
    margin-bottom: 0.5rem;
    line-height: 2.86;
}


.footer-content {
    margin: 1.5rem 6rem 3rem;
    display: flex;
    justify-content: space-between;
}

.footer-content  div  a {
    text-decoration: none;
    font-size: 10px;
    font-weight: 300;
    color: #333333;
    line-height: 2.21;
    font-family: var(--text-four);
}

.footer-content-left {
    display: flex;
    flex-direction: column;
}

.footer-content-link {
    display: flex;
    gap: 6rem;
}
.footer-content-link-column {
    display: flex;
    flex-direction: column;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    margin: 1rem 6rem 0rem 6rem;
}

.footer-copyright  div  a {
    text-decoration: none;
    font-size: 10px;
    font-weight: 300;
    color: #a9a9a9;
    line-height: 1.71;
    font-family: var(--text-four);
}

.footer-icon {
    display: flex;
    align-items: center;
}

.Icon {
 
    margin-left: 0.8rem;
}